.add-product {
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #ffffff2d;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product h2 {
  margin-top: 0;
}

.add-product input {
  padding: 2px;
  margin-right: 8px;
}